/* Accueil */

a {
    font-size: 10px;
}

.logo {
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(0%, -50%);
    width: 60%; 
}

.text-block {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

/* Destination */

.carousel-inner img {
   width: 75%; 
   margin-top: 100px;  
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

#map {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 90%; 
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Ajout + modification destination */

.flex-input {
    display: flex;
    align-items: center;
}

textarea#content, textarea#address {
    width: 100%;
    font-size: 13px;
}

/* Connexion + inscription + l'ajout/modification d'une destination */

button:hover {
    background-color: black;
    color: white;
}

.form-group {
	position:relative;
	margin-bottom:25px;
}

.form-group label {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 13px;
	color: black;	
	transition: all 0.5s ease-in-out;
}

.form-group input { 
  border: 0;
  border-bottom: 1px solid #555;  
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 13px;
  color: black;
}

.form-group input:focus { 
 border: none;	
 outline: none;
 border-bottom: 2px solid black;	
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
	top: -12px;
	font-size: 13px;
}






  

